/* Font */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


/* CSS */
html body {
	background-color: #ededed;
	line-height: 1.4;
	width: 100%;
	height: 100%;
	height: 100vh;
	font-family: "helvetica", sans-serif;
}
.flex {
	margin: 0 auto;
	min-height: 100%;
  	min-height: 100vh; 

	display: flex;
	align-items: center;
}
.col-centered {
	padding: 0;
	margin: 0 auto;
	min-width: 50%;
}
.center {
	padding: 0;
	margin: 0 auto;
}
.btn-default {
	border-color:transparent;
}
.shadow {
	box-shadow: 1px 1px 7px 1px rgba(119, 119, 119, 0.5);
	-moz-box-shadow: 1px 1px 7px 1px rgba(119, 119, 119, 0.5);
	-webkit-box-shadow: 1px 1px 7px 1px rgba(119, 119, 119, 0.5);
	background-color: white;
}
.column1 {
	background-size: cover;
	background-position: center;
	height: 75vh;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
}
.column2 {
	background-color: white;
	height: 75vh;
	display: inline-block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: visible;
}
.loginwith a {
	text-decoration: none;
}
.app {
    margin: auto;
    text-align: center;
    width: 70%;
    left: 15%;
}
.app span {
	/*font-size: 75%;*/
}
.app h4 {
	font-size: 200%;
}
/*.app img {
	height: 100%;
}*/
.forgot-password {
	margin-top: 1%;
}
.footer {
	font-size: 80%;
	padding: 4%;
	right: 0;
}
.phone-footer {
	position: absolute;
	bottom: 0;
}
.green-bar-footer {
	width: 100%;
	background-color: #3dcd58;
	padding-right: 2%;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	bottom: 0;
}
h5 {
	color: #3dcd58;
	font-size: 150%;
}
.signin-up {
	-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex: 1;
	padding-left: 18%;
	padding-right: 12%;
	padding-top: 10%;
}
.loginwith {
	/*font-size: 0.8em;*/
	margin: 0 -15px;
}
.loginwith a {
	color: #3dcd58;
	/*font-size: 90%;*/
}
.loginwith a:hover {
	color: #32ad3c;
}
.loginwith a:focus {
	color: #32ad3c;

	color: #434343;
	line-height: inherit;
}
.remember,
.forgot-password {
	font-size: 150%
	margin-top: 2%;
	margin-top: 2%;
}
.notuser {
	margin: 0 -15px;
}
.form-horizontal button {
	background-color: #3dcd58;
	color: white;
	box-shadow: 0px 1.5px 0px #32ad3c;
}
.form-horizontal button:hover {
	background-color: #32ad3c;
	color: white;
	box-shadow: 0px 1.5px 0px #319336;
}
.form-horizontal button:focus {
	background-color: #32ad3c;
	color: white;
	box-shadow: 0px 1.5px 0px #319336;
}
.form-horizontal button:active:hover {
	background-color: #319336;
	color: white;
	box-shadow: 0px 1.5px 0px #307f32;
}
.notuser button,
.btn-blue button {
	background-color: #42b4e6;
	color: white;
	box-shadow: 0px 1.5px 0px #0087cd;
}
.notuser button:hover,
.btn-blue button {
	background-color: #0087cd;
	color: white;
	box-shadow: 0px 1.5px 0px #18677c;
}
.notuser button:focus,
.btn-blue button {
	background-color: #0087cd;
	color: white;
	box-shadow: 0px 1.5px 0px #18677c;
}
.notuser button:active:hover,
.btn-blue button {
	background-color: #18677c;
	color: white;
	box-shadow: 0px 1.5px 0px #195866;
}
::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {  
   font-style: italic;
}
.green-line-left {
	height: 100%;
	width: 6%;
	background-color: #3dcd58;
	position: absolute;
	right: 0;
	opacity: 0.5;
}
input,
select {
	margin-top: 5px;
	margin-bottom: 5px;
}
.green-line-right {
	height: 100%;
	width: 6%;
	background-color: #3dcd58;
	position: absolute;
	left: 0;
}
.logo-footer {
	padding: 4%;
}
.form-group {
	margin-bottom: 0;
}
.signup-btn {
	margin-top: 3%;
}
.title {
	margin:25px 0px;
	font-size: 30px;
	color: #3dcd58;
	text-align: center;
}
.notuser span {
	color: #333333;
}
.btn {
	font-size: 120%;
	margin-top: 7px;
	margin-bottom: 7px;
}
.checkbox label {
	margin-bottom: 5px;
}
.password-select {
	margin-top: 4px;

}.form-horizontal .no-margin {
	margin-left: 0px;
	margin-right: 0px;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  opacity: 0;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0%;
  top: 1px;
  width: 15px; 
  height: 15px;
  border: 1px solid #aaa;
  background: #fff;
  border-radius: 3px;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  left: 0.8%;
  top:0;
  font-size: 100%;
  color: #3dcd58;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}
.checkbox input[type="checkbox"] {
	margin-left: 0;
}
label:hover:before {
  border: 1px solid #4778d9!important;
}

/* Register @home page */
.register-image {
	background-position: inherit;
}
.signup-btn {
	margin-top: 5px;
}
.language {
	margin-top: 5%;
	padding-right: 9%;
	padding-bottom: 15px;
}
.has-feedback, .glyphicon,.form-control-feedback {
	font-size: 20px;
	top:5px;
}
.form-horizontal .has-feedback .form-control-feedback {
	right:0;
}
.has-success .form-control-feedback,
.has-success .form-control {
	border-color: #3dcd58;
	color: #3dcd58;
}
.has-error .form-control-feedback,
.has-error .form-control {
	border-color: #dc0a0a;
	color: #dc0a0a;
}
input:focus:invalid,
select:focus:invalid {
	border-width: 2px;
}

/*Register @work page*/
.stepper {
	margin-top: -30px;
}
.stepper:before, .stepper:after {
	display: table;
	content: "";
}
.stepper > ul {
	counter-reset: li;
	position: relative;
	padding: 0;
	margin-top: 30px;
	margin-bottom: 80px;
	display: inline-block;
}
.stepper > ul li.complete {
	background-color: #3dcd58;
}
.stepper li {
	border-radius: 50%;
}
.stepper > ul li > div
{
	color: #a1a1a6;
	font-size: 2em;
	margin-top:2.5em;
	min-width:100px;
	min-width:7em;
	margin-left:-2em;
}
.stepper > ul li.complete > div
{
	color: #3dcd58;
}
.stepper > ul li {
	list-style: none;
	float: left;
	width: 4em;
	height: 4em;
	margin-top: -2em;
	position: absolute;
	left: 0;
	background: #a1a1a6;
	font-size: .875rem;
}
ul li, ol li {
	line-height: 1.25rem;
}
.stepper > ul li:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	box-sizing: border-box;
	padding: .6em .62em;
	color: #000;
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 2.2em;
	text-align: center;
}
.stepper > ul li.complete:before {
	color: #fff;
}
.progressstep {
	position:relative;
	margin-top:3%;
}
.progressstepBar {
	position: absolute;
	border-top: 3px #a1a1a6 solid;
	height:1px;
	width:50%;
}
.progressstepBar.complete {
	border-color:#3dcd58;
}
.progressstepBar.first {
	float:left;
}
.progressstepBar.second {
	margin-left:50%;
}
.steps {
	min-height: 75vh;
	padding-bottom: 110px;
}
.margin-box {
	margin-top: 10%;
}

/*form styles*/
/*Hide all except first fieldset*/
.fs-visible {
	display: visible;
}

.fs-hidden {
	display: none;
}

/*Reset password page*/
.littleBox {
	-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex: 1;
	padding-left: 12%;
	padding-right: 12%;
	overflow: auto;
}
.shadowLittlebox {
	min-height: 53vh;
}
a.decorated {
	text-decoration: underline;
	color: #0087cd;
}
@media screen and (max-width: 982px) {
	.shadowLittlebox {
		min-height: 100vh;
	}
}
.outside {
	margin-right: -35px;
}
.progressbar {
	width:60px;
	height: 6px;
	background-color: #9fa0a4;
	border-radius: 4px;
	top:19px;
	right:10px;
}
.state1 {
	width: 20px;
	height: 6px;
	background-color: #dc0a0a;
	border-radius: 4px 0 0 4px;
}
.state2 {
	width: 40px;
	height: 6px;
	background-color: #fe9600;
	border-radius: 4px 0 0 4px;
}
.state3 {
	width: 60px;
	height: 6px;
	background-color: #3dcd58;
	border-radius: 4px 4px 4px 4px;
}
.espace div {
	margin: 15px 0;
}


/*Edit profile*/
.profile {
	margin-left: 0;
	margin-right: 0;

	min-height: 100%;

	display: flex;
	align-items: center;
}
.profile-margin {
	padding-bottom: 100px;
}
.column-1 {
	padding-right: 20px;
}
.column-2 {
	padding-left: 20px;
}
.tabs {
	padding-bottom: 20px;
}
.input-form {
	padding-top: 5px;
}
.inputTitle {
	padding-left: 15px;
}
.change-password {
	margin-top: 30px;
}
.profile-btn {
	margin-top: 20px;
}
.profile-btn button {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	background-color: #e6e6e6;
	color: black;
	box-shadow: 0px 1.5px 0px #b9b7b7;
}
.profile-btn button:hover {
	background-color: #b9b7b7;
	box-shadow: 0px 1.5px 0px #b9b7b7;
	color: black;
}
.profile-btn button:focus {
	background-color: #b9b7b7;
	box-shadow: 0px 1.5px 0px #b9b7b7;
	color: black;
}
.profile-btn button:active:focus {
	background-color: #b9b7b7;
	box-shadow: 0px 1.5px 0px #b9b7b7;
	color: black;
}
.form-edit {

	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
}
.nav-pills li {
	background:transparent;
}
.nav-pills li.active a,
.nav-pills li.active a:hover:focus,
.nav-pills li.active a:hover,
.nav-pills li.active a:focus,
.nav-pills li.active a:active:focus {
	color:#3dcd58;
	border-bottom: 4px solid #3dcd58;
	background: none;
	border-radius: 0;
}
.nav-pills li.active a:focus {
	color:#3dcd58;
}
.nav-pills a {
	color: #333333;
}
.nav-pills li,
.nav-pills a {
	font-size: 17px;
}
.company-name {
	margin-top: 7px;
}

/*Long pages*/
.big-pages {
	padding-bottom: 0;
/*	margin:2% 0;*/
	min-height: 75vh;
}

/*Media Queries*/
@media screen and (max-height: 740px) {
	.column1,
	.column2 {
		display: flex;
		height: 80vh;
	}
	.shadow {
		height: 80vh;
	}
	.signin-up {
		padding-top: 9%;
	}
	.index {
		padding-top: 20%;
	}
	.steps {
		height: 93vh;
	}
	.big-pages {
		height: 100%;
	}
	.footer-long-pages {
		position: inherit;
		margin-top: 10px;
	}
}
@media screen and (max-height: 720px) {
	.column1,
	.column2 {
		display: flex;
		height: 88vh;
	}
	.shadow {
		height: 88vh;
	}
	.signin-up {
		padding-top: 7%;
	}
	.index {
		padding-top: 15%;
	}
	.steps {
		height: 95vh;
	}
	.stepper > ul {
		margin-bottom: 50px;
	}
	.big-pages {
		height: 100%;
	}
}
@media screen and (max-height: 650px) {
	.column1,
	.column2 {
		display: flex;
		height: 90vh;
	}
	.shadow {
		height: 90vh;
	}
	.signin-up {
		padding-top: 5%;
	}
	.index {
		padding-top: 15%;
	}
	.steps {
		height: 97vh;
	}
	.big-pages {
		height: 100%;
	}

}
@media screen and (max-height: 590px) {
	.column1,
	.column2 {
		display: flex;
		height: 95vh;
	}
	.shadow {
		height: 95vh;
	}
	.signin-up {
		padding-top: 4%;
	}
	.index {
		padding-top: 10%;
	}
	.steps {
		height: 99vh;
	}
	.big-pages {
		height: 100%;
	}
}

/* Tablet */
@media screen and (max-width: 1200px) {
	.container {
		width:100%;
		padding:0;
	}
	.column1,
	.column2 {
		display: flex;
		height: 100vh;
	}
	.center {
		width: 100%;
		height: 100vh;
	}
	.steps {
		height: 100vh;
	}
	span {
		padding: 0;
		margin: 0;
	}
	.profile-margin {
		height: 100vh;
	}
	.littleBox {
		padding: 0 -100px;
	}
	.steps .margin-box {
		padding:0px 180px;
	}

}

@media (min-width: 2000px) {
	.container {
		width: 80%;
	}
}

/* Phone */
@media screen and (max-width: 992px) {
	body {
		font-size: 35px;
	}
	.col-centered {
	  	min-width: 100%;
	}
	.column1 {
		padding: 0;
		margin: 0;
	}
	.phone-app-name h4 {
		margin-top: 4%;
		margin-left: 5%;
		text-align: left;
		font-size: 65px;
		color: white;
		font-weight: normal;
	}
	.phone-app-name span {
		font-size: 60%;
		vertical-align: super;
		margin-top: 10%;
	}
	.signup,
	.column1,
	.green-line-left,
	.green-line-right,
	.logo-footer,
	.remember,
	.footer,
	.app img,
	.app p {
		display: none;
	}
	.phone-footer {
		position: absolute;
		bottom: 0;
	}
	.green-bar-transparent {
		height: 30px;
		width: 100%;
		background-color: #3dcd58;
		opacity: 0.5;
		bottom: 0;
	}
	.green-bar-footer {
		width: 100%;
		background-color: #3dcd58;
		padding-right: 5%;
		padding-top: 4%;
		padding-bottom: 4%;
		bottom: 0;
	}
	.column2 {
		width: 100%;
		min-height: 100vh;
	}
	.phone-background {
		position: absolute;
		height: 100vh;
		background-position: center;
		background-size: cover;
		-webkit-filter: blur(10px);
		-moz-filter: blur(10px);
		-o-filter: blur(10px);
		-ms-filter: blur(10px);
		filter: blur(10px);
	}
	.signin-up,
	.margin-box {
		position: relative;
		font-size: 40px;
		margin:0;
		padding-left: 6%;
		padding-right: 6%;
		padding-top: 0;
	}
	.signin-up {
		margin-bottom: 12vh;
	}
	.loginwith {
		color: white;/*
		padding-top: 20px;*/
	}
	.form-horizontal {
		position: relative;
		margin-top: 3%;
	}
	.form-horizontal input,
	.form-horizontal select,
	.littleBox input,
	.littleBox select {
		height: 85px;		
		font-size: 37px;
	}
	.notuser button, 
	.signin-up button {
		height: 90px;
		margin: 30px 0px;
	}
	input,
	select,
	button {
		margin-top:15px;
		margin-bottom:15px;
	}
	.language {
		display: none;
	}
	.container 
	{
		margin: 0;
		width:100%;
	}
	.password-select,
	h5,
	.forgot-password a,
	label {
		color: white !important;
	}
	h5 {
		font-size: 45px;
	}
	.link a {
		text-decoration: underline;
		color: white !important;
		font-size: 40px;
	}
	.conditions a {
		text-decoration: underline;
		color: white !important;
	}
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
		content: '';
		position: absolute;
		left:0%;
		top: 3px;
		width: 34px; 
		height: 34px;
		border: 1px solid #aaa;
		background: #fff;
		border-radius: 5px;
	}
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		content: '✔';
		position: absolute;
		left: 0.2%;
		top:-7px;
		color: #3dcd58;
		font-size: 40px;
	}
	.checkbox label {
		padding-left: 50px;
		display: inline;
	}
	.checkbox {
		padding-right: 7px;
	}
	.has-feedback, .glyphicon,.form-control-feedback {
		font-size: 50px;
		top:26px;
		right: 40px;
	}
	.has-error .form-control {
	border-width: 3px;
	}
	.forgot-password {
		margin-top: 35px;
	}
	.steps .phone-footer {
		display: none;
	}
	.index .link {
		padding-bottom: 15%;
	}
	.littleBox {
		height: 100vh;
	}
	.steps {
		padding-bottom: 0;
	}
	.title {
		font-size: 45px;
		color: white;
		background-color: #3dcd58;
		background-size: 100%;
		width: 100%;
		padding: 3% 14%;
		margin-top:0;
		text-align: left;
	}
	.title:before {
		content: url(http://google.be);
	    background-image: url(../img/arrow.png);
	    background-size: 100% 100%;
	    width: 40px;
	    height: 40px;
	    display: block;
	    position: absolute;
	    top: 2.6%;
	    left: 5%;
	}
	.littleBox {
		margin:0;
		padding-left: 0;
		padding-right: 0;
	}
	.return-login a {
		display: none;
	}
	.littleBox button {
		width: 200%;
		margin-left: -50%;
		background-color: #3dcd58;
		color: white;
	}
	.littleBox button:hover:focus,
	.littleBox button:hover,
	.littleBox button:active,
	.littleBox button:hover:active {
		background-color: #3dcd58;
		color: white;
	}
	.littleBox button:before {
		content: none;
	}
	.form-control:-webkit-input-placeholder {
	    display: none;
	}

	.form-control:-webkit-input-placeholder:before {
		display: initial;
	    color:red;
	    content:"sssssssssssss" !important;
	}

}


/* For IE */
@media screen and (min-width: 992px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		left: 0.5;
		bottom: 5%;
	}
	body html {
		height: 500px;
	}
	.container {
		position: relative;
	}
	.flex {
		position:absolute;
		top: 50%;
		transform: translateY(12%);
		min-height: 100%;
	}
}